.container{
    position: relative;
    display: flex;
    margin-top: 5px;
}

.message{
    position: relative;
}

.name {
    font-weight: 500;
}

.time {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: rgba(255, 255, 255, .7);
    font-size: .7rem;
}